@import "commons.css";

.authorization_button { /*class*/
    display: inline-flex;
    border-radius: 24px;
    color: yellow;
    margin-right: 15%;
    margin-left: 15px;
    width: 50%;
}

.login_forms {
    display: inline-block;
    text-align: center;
    margin: 15px;
}

.text_input {
    display: block;
    width: 400px;
    text-align: center;
    background-color: white;
    border-radius: 24px;
    line-height: 20px;
}

.authorization_div{
    background-color: #e2e2e2;
    text-align: center;
    height: 100%;
    max-width: var(--maximum_width);
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: start;
}