/* It is used to remove the initial white spaces which browsers use */
* {
    margin: 0px;
    padding: 0px;


}



:root {
    --font_size: 16px;
    --maximum_width: 1280px;
    --font_family: Yekan;



}


/* Header part starts here */
header {
    width: 100%;
    position: fixed;
    top: 0;
    color: black;
    line-height: 65px;
    max-width: 1280px;
    background-color: white;
    font-size: var(--font_size);
    font-family: var(--font_family);
    display: block;


}





.menu_button {
    display: inline-block;
    width: 35%;
    text-align: left;


}

#menu_button {
    display: inline-block;
    text-align: center;
    line-height: 10px;
    border-style: solid;
    border-color: yellow;
    border-radius: 24px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;




}

#menu_button:hover {
    background-color: yellow;


}


.menu_item {

    display: inline-block;
    text-align: center;
    padding-left: 5%;


}
.menu_item:hover {color: rgb(48, 213, 200);}


.menu_items {
    display: inline-block;
    width: 60%;



}


#shop_icon {
    padding-right: 60px;
    font-size: 120%;
    color: rgb(48, 213, 200);


}


/* Header part ends here */
/* Footer part starts here */
footer {


    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: var(--font_family);
    font-size: var(--font_size);
    color: grey;
    background-color: black;
    line-height: 65px;
    max-width: var(--maximum_width);


}

/* Body part starts here */

#first_section {
    text-align: center;
    display: block;
    background-color: orangered;
    height: 500px;
    max-width: var(--maximum_width);
    width: 100%;


}

#main_title {

    color: white;
    font-size: 32px;
    text-align: center;




}

#search_bar_box {
    display: inline-block;
    text-align: center;
    padding-top: 40px;




}




#search_bar {
    display: block;
    width: 400px;
    text-align: center;
    background-color: white;
    border-radius: 24px;
    line-height: 20px;


}


#search_button {


    margin-top: 35px;
    color: black;
    background-color: orange;
    border-radius: 24px;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    font-family: var(--font_family);
    font-size: var(--font_size);



}
#search_button:hover {

    box-shadow: 5px 5px 5px 5px yellow;


}
#clock_image {

    max-width: var(--maximum_width);



}

/* Second section starts here */
#second_section {
    background-color: #e2e2e2;
    width: 100%;
    height: 1500px;
    max-width: var(--maximum_width);
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: start;





}

#arrangement_bar {
    display: block;
    width: 97%;
    background-color: white;
    color: black;
    font-family: var(--font_family);
    font-size: var(--font_size);
    line-height: 50px;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 29px;
    margin-right: 20px;


}
#arrangement_title {
    display: inline-block;
    margin-right: 30px;


}

.arrangement_button {

    text-align: center;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 15px;
    border-radius: 24px;

}

.arrangement_button:hover {
    background-color: blue;
    color: white;


}

.button_form {
    display: inline;


}

#categorizations_block {
    background-color: white;
    padding-top: 10px;
    height: 355px;
    margin-right: 20px;
    color: black;
    font-family: var(--font_family);
    font-size: var(--font_size);
    box-shadow: 3px 3px 3px 3px #9f9f9f;
    display: block;

}

#categorization_title {
    display: block;
    margin-right: 17px;
    margin-bottom: 10px;




}

.categorization_checkbox {
    display: inline-block;
    margin-right: 17px;
    margin-left: 10px;


}

/* Check box choices styles */
input[type="checkbox"] {
    filter:  hue-rotate(200grad) brightness(1);

}

input[type=checkbox]:checked + label{

    font-weight: bolder;
    color: #39ff14;

}

#checkbox_fieldset {

    display: block;
    border: none;
    height: 330px;
    overflow: scroll;


}

#range_slider {
    display: block;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;




}







/* Product boxes design */
.products_container {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #e2e2e2;
    width: 73%;
    height: 860px;
    color: black;
    font-family: var(--font_family);
    font-size: var(--font_size);


}


.blank {
    width: 100%;



}

#right_side_block {
    display: block;
    width: 25%;
    height: 700px;



}










#price_adjuster_block {
    display: block;
    background-color: white;
    height: 150px;
    color: black;
    font-family: var(--font_family);
    font-size: var(--font_size);
    margin-right: 20px;
    margin-top: 18px;
    box-shadow: 3px 3px 3px 3px #9f9f9f;



}

#price_adjuster_title {
    margin-right: 17px;
    padding-top: 10px;
    margin-bottom: 10px;

}

.product_box {
    margin-right: 15px;
    background-color: white;
    margin-bottom: 15px;
    width: 31.5%;
    height: 420px;
    color: black;
    font-family: var(--font_family);
    font-size: var(--font_size);
    box-shadow: 3px 3px 3px 3px #9f9f9f;



}


.product_image {
    display: block;
    height: 200px;
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;





}

.product_name {
    display: block;
    margin-right: 17px;


}



.product_category {
    display: block;
    margin-right: 17px;
    color: darkgray;
    font-size: 14px;



}

.product_price_and_button {
    display: inline-flex;
    width: 100%;


}



.product_price {
    display: block;
    margin-right: 17px;



}



.product_buy_button {
    display: block;
    border-radius: 24px;
    color: white;
    margin-right: 15%;
    margin-left: 17px;
    background-color: blue;
    box-shadow: 2px 2px 2px 2px grey;
    width: 50%;

}



