/* It is used to remove the initial white spaces which browsers use */
* {
    margin: 0px;
    padding: 0px;


}



:root {
    --font_size: 16px;
    --maximum_width: 1280px;
    --font_family: Yekan;



}


/* Header part starts here */
header {
    width: 100%;
    position: fixed;
    top: 0;
    line-height: 65px;
    max-width: 1280px;
    background-color: white;
    font-size: var(--font_size);
    font-family: var(--font_family);



}





.menu_button {
    display: inline-block;
    width: 35%;
    text-align: left;


}

#menu_button {
    display: inline-block;
    text-align: center;
    line-height: 10px;
    border-style: solid;
    border-color: yellow;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;



}

#menu_button:hover {
    background-color: yellow;


}


.menu_item {

    display: inline-block;
    text-align: center;
    padding-left: 25px;


}
.menu_item:hover {color: rgb(48, 213, 200);}


.menu_items {
    display: inline-block;
    width: 60%;



}


#shop_icon {
    padding-right: 60px;
    font-size: 120%;
    color: rgb(48, 213, 200);


}


/* Header part ends here */
/* Footer part starts here */
footer {


    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: var(--font_family);
    font-size: var(--font_size);
    color: grey;
    background-color: black;
    line-height: 65px;
    max-width: var(--maximum_width);


}




















