@import "profile_commons.css";
@import "authorization_commons.css";

#tabscontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 5%;
    margin-left: 5%;
    text-align: center;
    width: 90%;
    height: 60%;
    margin-bottom: 5%;
    max-width: var(--maximum_width);
    align-items: center;
    justify-content: center;

}

[name="radiogroupfortabs"] {
    position: absolute; 
    visibility: hidden; 
}

.search_lables {
    display: block;
    width: 200px;
    line-height: 30px;
    font-size: var(--font_size);
    font-family: var(--font_family);
    height: 100%;
    text-align: center;
    background-color: rgb(0, 192, 198);
    color: white;    
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.search_input {
    width: 500px;
    background-color: white;
    line-height: 30px;
    display:flex;
    border: 0;
    font-size: var(--font_size);
    font-family: var(--font_family);

}

.search_form {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.category_button{
    border: none;
    background-color: white;
    font-size: var(--font_size);
    font-family: var(--font_family);
    /* text-align: r; */
}

.category_button:hover {color: rgb(48, 213, 200);}

#form_tab {
    order: 999;
    display: none;    
    z-index: 3;
    top: 18px;
    width: 100%;
    min-height: 5em;
    overflow: hidden;    
    margin-top: 2%;
    margin-bottom: -3%;
}

#commodity_radio{-webkit-box-ordinal-group:1;order:1;}
#category_radio{-webkit-box-ordinal-group:2;order:2;}
#bills_radio{-webkit-box-ordinal-group:3;order:3;}

#tab_label_commodity {
    align-items: center;
    display: block;
    height: 30px;
    width: 15%;
    border-bottom-right-radius: 24px;
    border-top-right-radius: 24px;
    font-size: var(--font_size);
    font-family: var(--font_family);
    transition: all 0.2s ease-in-out;
    margin-top: 70px;
    text-align: center;
    justify-content: center;
}

#tab_label_category {
    align-items: center;
    display: block;
    height: 30px;
    width: 15%;
    font-size: var(--font_size);
    font-family: var(--font_family);
    transition: all 0.2s ease-in-out;
    margin-top: 70px;
    text-align: center;
    justify-content: center;
}

#category_list {
    background-color: white;
    height: 60%;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    overflow: scroll;
    font-size: var(--font_size);
    font-family: var(--font_family);
    box-shadow: 3px 3px 3px 3px #9f9f9f;

}

#tab-content1 {
    height: 60%;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    font-size: var(--font_size);
    font-family: var(--font_family);
    flex-wrap: wrap;
}

.circle {
    position:relative;
    margin-right: 94%;
    top: -5px;
    min-width: 35px;
    min-height: 35px;
    border-radius: 50%;
    background: white;
    box-shadow: 3px 3px 3px 3px grey;
}

.text_center {
    right: 25%;
    align-content: center;
    text-align: center;
    align-self: center;
  }

#add_product{
    order: 999;
    display: none;    
    z-index: 3;
    top: 18px;
    width: 100%;
    min-height: 5em;
    overflow: hidden;    
    margin-top: 2%;
    margin-bottom: -3%;

}

.min_with_150px{
    min-width: 150px;
    min-height: 40px;
}

#tab_label_bills {
    align-items: center;
    display: block;
    height: 30px;
    width: 15%;
    text-align: center;
    border-bottom-left-radius: 24px;
    border-top-left-radius: 24px;
    font-size: var(--font_size);
    font-family: var(--font_family);
    transition: all 0.2s ease-in-out;
    margin-top: 70px;
    justify-content: center;
}

[id^="tab_label"]:hover {
    background: #969696;  
}

.tab_content {
    order: 999;
    display: none;    
    z-index: 3;
    top: 10%;
    width: 100%;
    min-height: 5em;
    overflow: hidden;
    margin-top: 5%;
}

[name="radiogroupfortabs"]:checked + [id^="tab_label"] {
    z-index: 3;
    display: block;
    height: 30px;
    margin-top: 0px;
    background: #c9c9c9;
    background-color: grey;
}

#commodity_radio:checked ~ #tab-content1{display: flex;}
#commodity_radio:checked ~ #add_product{display: block;}
#category_radio:checked ~ #category_list{display: block;}
#category_radio:checked ~ #form_tab{display: block;}
#bills_radio:checked ~ #bills_list{display: block;}
